%label{:class => "label"}= t("activerecord.attributes.celebrity.name", :default => t("activerecord.labels.name", :default => "Name")) + ":"
%p= @celebrity.name

.form-actions
  = link_to "Back", celebrities_path, :class => 'btn'
  = link_to "Edit", edit_celebrity_path(@celebrity), :class => 'btn'
  = link_to "Delete", celebrity_path(@celebrity), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
